<tr>
  <td><%= friend.first_name %></td>
  <td><%= friend.last_name %></td>
  <td><%= friend.email %></td>
  <td><%= friend.phone %></td>
  <td><%= friend.git %></td>
  <td >
      <%= link_to "Show", friend%>
    </td>
</tr>





