<p style="color: green"><%= notice %></p>
<table id="<%= dom_id @friend %>">
  <%= render "friendtable" %>

<%= render @friend %>
</table>
<div>
  <%= link_to "Edit this friend", edit_friend_path(@friend) %> |
  <%= link_to "Back to friends", friends_path %>

  <%= button_to "Destroy this friend", @friend, method: :delete %>
</div>
