<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <p>
    <%= form.label :owner %><br>
    <% if session[:username] != nil %>
    <%= form.text_field :owner, value:session[:username],:readonly => true%>
    <% else %>
    <%= form.text_field :owner, value:"Guest",:readonly => true%>
    <% end %>
  </p>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body ,class:"article-content"%><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
  <%= form.label :status %><br>
  <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public' %>
</div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
