<div class="show-content">


  <div class="body-content">
    <div class="title">
  <h3>Title: <%= @article.title %></h3>
  <h4>Owner: <%= User.find(@article.owner_id).username %></h4>
</div>
  <p><%= @article.body %></p>



<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

</div>
<div class="comment-content">
<div class="comment">
<h3>Comments</h3>
<%= render @article.comments %> 
</div>

<div class="add_comment">
<h4>Add a comment:</h4>
<%= render 'comments/form' %>
</div>
</div>
