<h2><%= @article.title %></h2>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  
</ul>
<div>
<%= button_to "Destroy", @article , 
                        method: :delete, 
                        data: { confirm: 'Are you sure?' } %>
</div>

<h3>Add a comment:</h3>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>