<div class="show-content">

<div class="title">
  <h3>Title: <%= @article.title %></h3>

  <p><%= @article.body %></p>
</div>


<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
</ul>


<div>
<%= button_to "Destroy", @article , 
                        method: :delete, 
                        data: { confirm: 'Are you sure?' } %>
</div>
<div class="comment">
<h3>Comments</h3>
<%= render @article.comments %> 
</div>

<div class="add_comment">
<h4>Add a comment:</h4>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>

</div>