<nav>
  <ul class="navbar">
    <li class="menu"><div class="normal"><a href="<%=root_path%>"><%= render 'text-anim' %></div></a></li>
  
    <% if user_signed_in? %>
   <li class="normal"> 
    <% username =session[:username]%>
    <%= link_to username, current_user%></li>
    <% else %>
     <li class="normal"> 
    <%= link_to "Guest",root_path%></li>
    <% end %>
    <%= render "user"%> 
  </ul>
</nav> 
