<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div data-theme="dark">
    <%= render "header"%>
    <div><%=notice%></div>
    <div><%=alert%></div>
    
    
    <%= yield %>
    <% if user_signed_in? %>
      <%= link_to "Edit Password", "#" %>
      <%= button_to "Log Out", session_path,method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_registration_path %>
        <%= link_to "Log In", new_session_path %>
      <% end %>
    </div>
  </body>
</html>
